:root {
  --main-color: rgb(36, 46, 63);
  --secound-color: #d6b56e;
  --overlay-color: rgb(26, 32, 46, 0.7);
  --section-bg-color: #f7f8f8;
  --muted-color: #6c757d;
  --main-transition: 0.4s;
  --ffamily-atoun: "Anton", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Jost", sans-serif;
  background-color: #000;
  height: 1000vh;
}
a {
  text-decoration: none;
  transition: color var(--main-transition) ease-in-out;
}
ul {
  list-style: none;
}
.main__color {
  color: var(--main-color);
}
.section__color {
  color: var(--secound-color);
}
.main-icon {
  color: var(--main-color);
  margin-inline: 0.5rem;
}
.main-heading {
  color: var(--main-color);
  font-family: var(--ffamily-atoun);
}
.main-hover:hover {
  color: var(--secound-color) !important;
  transition: all var(--main-transition) !important;
  cursor: pointer;
}
#scroll-top {
  z-index: 100;
  bottom: 0.5rem;
  right: 1rem;
  display: none;
  opacity: 0.7;
  transition: opacity var(--main-transition) ease-in-out;
}
#scroll-top:hover {
  opacity: 1;
}
.wa-icon {
  z-index: 1000;
  background-color: #25d366;
  width: calc(1.5rem + 1.75vw);
  height: calc(1.5rem + 1.75vw);
  line-height: calc(1.5rem + 1.75vw);
  left: 0;
}
/* Start Upperbar  */
.upperbar {
  background-color: rgb(36, 46, 63);
  z-index: 10;
}
.upperbar a {
  font-size: 12px;
}
/* Start navbar  */
.navgationbar {
  z-index: 100;
  transition: all 0.2s;
  top: 40px;
  background-color: white;
}

.nav-item .active {
  color: var(--secound-color) !important;
}
.nav-item .nav-link {
  color: #000;
}
.navbar-toggler {
  border: none !important;
}
.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}
.dropdown-toggle {
  background-color: transparent;
  border: 0;
}
/* Start Slider  */
.owl-carousel-hero .item {
  margin-top: 55px;
  height: 70vh;
}
@media screen and (max-width: 991px) {
  .owl-carousel-hero .item {
    margin-top: 20px;
  }
}
.Slider-1 {
  background-image: url(../img/13.jpg);
  background-size: cover;
}
.owl-carousel-hero .item h1,
.owl-carousel-hero .item h2 {
  font-size: calc(1.375rem + 2.5vw);
}
.owl-carousel-hero .item .container {
  padding-inline-end: 30%;
}
