:root {
  --main-color: rgb(36, 46, 63);
  --secound-color: #eaa636;
  --overlay-color: rgb(26, 32, 46, 0.7);
  --section-bg-color: #f7f8f8;
  --text-color: #606060;
  --main-transition: 0.4s;
  --ffamily-atoun: "Anton", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Jost", sans-serif;
  height: 1000vh;
}
a {
  text-decoration: none;
  transition: color var(--main-transition) ease-in-out;
}
ul {
  list-style: none;
}
.main__color {
  color: var(--main-color);
}
.secound__color {
  color: var(--secound-color);
}
.text-color {
  color: var(--text-color);
}
.main-icon {
  color: var(--main-color);
  margin-inline: 0.5rem;
}
.main-heading {
  color: var(--main-color);
  font-family: var(--ffamily-atoun);
}
.main-hover:hover {
  color: var(--secound-color) !important;
  transition: all var(--main-transition) !important;
  cursor: pointer;
}
.main-btn {
  padding: 0.5rem 1.5rem;
  color: white;
  background-color: var(--secound-color);
  font-weight: bold;
  text-transform: capitalize;
}
#scroll-top {
  z-index: 100;
  bottom: 0.5rem;
  right: 1rem;
  display: none;
  opacity: 0.7;
  transition: opacity var(--main-transition) ease-in-out;
}
#scroll-top:hover {
  opacity: 1;
}
.wa-icon {
  z-index: 1000;
  background-color: #25d366;
  width: calc(1.5rem + 1.75vw);
  height: calc(1.5rem + 1.75vw);
  line-height: calc(1.5rem + 1.75vw);
  left: 0;
}
.headding-dash::after {
  content: "";
  display: block;
  background-color: var(--secound-color);
  height: 2px;
  width: 100px;
  margin-top: 1rem;
}
/* Start Upperbar  */
.upperbar {
  background-color: rgb(36, 46, 63);
  z-index: 10;
}
.upperbar a {
  font-size: 12px;
}
/* Start navbar  */
.navgationbar {
  z-index: 100;
  transition: all 0.2s;
  top: 40px;
  background-color: white;
}

.nav-item .active {
  color: var(--secound-color) !important;
}
.nav-item .nav-link {
  color: #000;
}
.navbar-toggler {
  border: none !important;
}
.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}
.dropdown-toggle {
  background-color: transparent;
  border: 0;
}
/* Start Slider  */
.owl-carousel-hero .item {
  height: 95vh;
}
.Slider-1 {
  background-image: url(../img/13.jpg);
  background-size: cover;
}
.owl-carousel-hero .item h1,
.owl-carousel-hero .item h2 {
  font-size: calc(1.375rem + 2.5vw);
}
.owl-carousel-hero .item .container {
  padding-inline-end: 30%;
}
@media screen and (max-width: 991px) {
  .owl-carousel-hero .item .container {
    padding-inline-end: 0;
  }
}

/* Start Info  */
.info-section .row .col {
  padding: 0;
  display: flex;
  align-items: stretch;
}
.info__content {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;
  position: relative;
  background-color: var(--secound-color);
  z-index: 10;
  box-shadow: 2px 2px 30px 0px rgb(0 0 0 / 20%);
}
.info__content i {
  font-size: 2.25rem;
  margin-bottom: 1rem;
}
.info__content::before {
  font: var(--fa-font-solid);
  color: rgba(0, 0, 0, 0.2);
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 240px;
  opacity: 0.2;
  transition: all 1s ease-in-out;
}
.icon-overlay-1::before {
  content: "\f658";
}
.icon-overlay-2::before {
  content: "\f002";
}
.icon-overlay-3::before {
  content: "\f007";
}
.info-section .col:hover .info__content::before {
  transform: rotate(-30deg);
}

/* Start values  */
.values {
  background-color: var(--main-color);
}
.values__box {
  display: flex;
  flex-direction: column;
}
.values__box span {
  padding: 0.5rem 2rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.05);
  margin: 0.5rem 0;
}
.values__box i {
  font-size: 2rem;
  margin-inline-end: 1rem;
  color: var(--secound-color);
}

/* Start achieved */
.achieved {
  background-image: url(../img/14.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding-block: 7rem;
}
.achieved__content h2 {
  color: white !important;
}
